## Blue car analysis
## Report to this project is at  
https://docs.google.com/document/d/1HB6UXRc1B9QC41PEtNWJrzD8P286Xsrrf8i3GhMsZvg/edit?usp=sharing

In [66]:
import pandas as pd
import numpy as np

In [67]:
data = pd.read_csv('autolib_daily_events_postal_code.csv')
data.head()

,Postal code,date,n_daily_data_points,dayOfWeek,day_type,BlueCars_taken_sum,BlueCars_returned_sum,Utilib_taken_sum,Utilib_returned_sum,Utilib_14_taken_sum,Utilib_14_returned_sum,Slots_freed_sum,Slots_taken_sum
0,75001,1/1/2018,1440,0,weekday,110,103,3,2,10,9,22,20
1,75001,1/2/2018,1438,1,weekday,98,94,1,1,8,8,23,22
2,75001,1/3/2018,1439,2,weekday,138,139,0,0,2,2,27,27
3,75001,1/4/2018,1320,3,weekday,104,104,2,2,9,8,25,21
4,75001,1/5/2018,1440,4,weekday,114,117,3,3,6,6,18,20

In [68]:
data.shape

(16085, 13)

In [82]:
data.describe()

,Postal code,n_daily_data_points,dayOfWeek,BlueCars_taken_sum,BlueCars_returned_sum,Utilib_taken_sum,Utilib_returned_sum,Utilib_14_taken_sum,Utilib_14_returned_sum,Slots_freed_sum,Slots_taken_sum
count,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000
mean,88791.293876,1431.330619,2.969599,125.926951,125.912714,3.698290,3.699099,8.600560,8.599192,22.629033,22.629282
std,7647.342000,33.212050,2.008378,185.426579,185.501535,5.815058,5.824634,12.870098,12.868993,52.120263,52.146030
min,75001.000000,1174.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,91330.000000,1439.000000,1.000000,20.000000,20.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
50%,92340.000000,1440.000000,3.000000,46.000000,46.000000,1.000000,1.000000,3.000000,3.000000,0.000000,0.000000
75%,93400.000000,1440.000000,5.000000,135.000000,135.000000,4.000000,4.000000,10.000000,10.000000,5.000000,5.000000
max,95880.000000,1440.000000,6.000000,1352.000000,1332.000000,54.000000,58.000000,100.000000,101.000000,360.000000,359.000000

In [69]:
len(data['Postal code'].unique())

104

In [70]:
data.corr()

,Postal code,n_daily_data_points,dayOfWeek,BlueCars_taken_sum,BlueCars_returned_sum,Utilib_taken_sum,Utilib_returned_sum,Utilib_14_taken_sum,Utilib_14_returned_sum,Slots_freed_sum,Slots_taken_sum
Postal code,1.000000,0.000432,0.000343,-0.698020,-0.697519,-0.625521,-0.624786,-0.656744,-0.656516,-0.749528,-0.749157
n_daily_data_points,0.000432,1.000000,0.002039,0.029411,0.030063,0.022669,0.023322,0.025738,0.026351,0.020873,0.021169
dayOfWeek,0.000343,0.002039,1.000000,0.079649,0.081954,0.069295,0.071713,0.068790,0.071279,0.049960,0.050468
BlueCars_taken_sum,-0.698020,0.029411,0.079649,1.000000,0.998660,0.893833,0.892850,0.940946,0.940757,0.948575,0.947996
BlueCars_returned_sum,-0.697519,0.030063,0.081954,0.998660,1.000000,0.893613,0.893268,0.940542,0.941117,0.948258,0.948771
Utilib_taken_sum,-0.625521,0.022669,0.069295,0.893833,0.893613,1.000000,0.981982,0.847519,0.846304,0.853760,0.853049
Utilib_returned_sum,-0.624786,0.023322,0.071713,0.892850,0.893268,0.981982,1.000000,0.845645,0.845306,0.852939,0.852936
Utilib_14_taken_sum,-0.656744,0.025738,0.068790,0.940946,0.940542,0.847519,0.845645,1.000000,0.992062,0.899232,0.898719
Utilib_14_returned_sum,-0.656516,0.026351,0.071279,0.940757,0.941117,0.846304,0.845306,0.992062,1.000000,0.899442,0.899777
Slots_freed_sum,-0.749528,0.020873,0.049960,0.948575,0.948258,0.853760,0.852939,0.899232,0.899442,1.000000,0.999221
Slots_taken_sum,-0.749157,0.021169,0.050468,0.947996,0.948771,0.853049,0.852936,0.898719,0.899777,0.999221,1.000000

In [71]:
#There is a positive correlation between blues cars taken suma nd blu cars returned sum. 
#We can then base our hypotesis on that and check if blue cars taken on weekend is the same 
#as returned on that weekend.

## Hyphotesis: 
H0: There is no deifference between the blues taken and blue cars returned \n
Ha: There is a  difference between blue cars taken and blue cars returned on a weekend for a specific postal code

In [83]:
data_weekend = data[data['day_type']=='weekend']
data_weekend.describe()

,Postal code,n_daily_data_points,dayOfWeek,BlueCars_taken_sum,BlueCars_returned_sum,Utilib_taken_sum,Utilib_returned_sum,Utilib_14_taken_sum,Utilib_14_returned_sum,Slots_freed_sum,Slots_taken_sum
count,4541.000000,4541.000000,4541.000000,4541.000000,4541.000000,4541.000000,4541.000000,4541.000000,4541.000000,4541.000000,4541.000000
mean,88794.686633,1434.694781,5.500771,151.090068,152.029289,4.393085,4.414666,10.129707,10.184761,26.909712,26.970932
std,7646.521844,20.819324,0.500054,218.565642,221.140337,6.747905,6.834645,14.821601,14.973810,61.357605,61.531368
min,75001.000000,1318.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,91330.000000,1440.000000,5.000000,25.000000,24.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
50%,92340.000000,1440.000000,6.000000,59.000000,58.000000,2.000000,2.000000,4.000000,4.000000,0.000000,0.000000
75%,93400.000000,1440.000000,6.000000,156.000000,157.000000,5.000000,5.000000,11.000000,12.000000,6.000000,6.000000
max,95880.000000,1440.000000,6.000000,1352.000000,1332.000000,54.000000,58.000000,100.000000,101.000000,360.000000,359.000000

In [73]:
#use random sampling to get

In [74]:
data_weekend.groupby('Postal code')
# Stratified sample
strat_data = data.groupby('Postal code', group_keys=False).apply(lambda grouped_subset : grouped_subset.sample(frac=0.01))
strat_data

,Postal code,date,n_daily_data_points,dayOfWeek,day_type,BlueCars_taken_sum,BlueCars_returned_sum,Utilib_taken_sum,Utilib_returned_sum,Utilib_14_taken_sum,Utilib_14_returned_sum,Slots_freed_sum,Slots_taken_sum
80,75001,3/25/2018,1380,6,weekend,150,154,3,3,11,12,29,28
97,75001,4/11/2018,1439,2,weekday,125,125,5,5,6,6,20,21
199,75002,2/13/2018,1440,1,weekday,152,152,6,6,13,13,42,41
250,75002,4/8/2018,1440,6,weekend,176,183,3,3,18,18,40,39
344,75003,2/2/2018,1440,4,weekday,262,274,7,7,12,14,64,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15747,95100,5/25/2018,1440,4,weekday,10,19,0,0,0,1,0,0
15911,95870,6/2/2018,1440,5,weekend,18,25,1,0,0,1,0,0
15847,95870,3/19/2018,1440,0,weekday,10,6,0,0,0,0,0,0
16064,95880,5/30/2018,1440,2,weekday,11,16,0,0,0,0,0,0
15935,95880,1/7/2018,1440,6,weekend,28,17,0,0,7,7,0,0

In [75]:
BlueCars_taken = np.array(list(strat_data['BlueCars_taken_sum']))
BlueCars_returned = np.array(list(strat_data['BlueCars_returned_sum']))
BlueCars_returned

array([154, 125, 152, 183, 274, 328, 218, 257, 311, 317, 253, 331, 281,
       262, 416, 360, 423, 439, 349, 272,  44, 384, 415, 392, 659, 742,
       424, 399, 853, 805, 790, 681, 852, 612, 357, 527, 422, 545, 421,
       477,  11,   3,   7,  11,  27,  38,  40,  29,  42,  57,   6,  10,
         9,  13,   8,   8, 157, 194, 403, 362,  28,  17,  88,  90, 233,
       291,  84,  87, 160, 140,  26,  24,  61,  62,  83,  70,  72,  89,
        84,  70,  66,  39,  56,  46, 112,  79,  88,  85,  38,  33,  33,
        23,  10,  17, 176, 195,  38,  31,  60,  53,  41,  53,   9,  22,
        22,  15,   6,  23,  25,  28,  21,  13,   7, 106, 126,  11,   6,
        13,   9, 166, 134, 112, 128,  76,  93,  86, 105, 107, 150,  28,
        32,  56,  23,   6,  10,  47,   8,  11,  13,  35,  72,  54,   9,
        14,  23,  19,  16,  12,  24,  19,   1,   3, 142, 150,   5,   0,
        56,  37,  13,  15,  43,  30,  12,  16,  96,  89,   6,   9,  32,
        34,  43,  41,  65,  61,  56,  33,  16,  15,  74,  46,  36,  50,
        65,  32,  65,  53,  29,  24,  19,  25,   9,   8,  20,  16,  30,
        24,  93,  84,  16,  19,  25,   6,  16,  17])

In [76]:
Difference = BlueCars_taken - BlueCars_returned

In [77]:
from scipy import stats

In [78]:
stats.zscore(Difference, )

array([-0.3379101 ,  0.03980859,  0.03980859, -0.62119911, -1.09334746,
       -2.13207384,  0.60638661,  0.3230976 , -0.62119911,  1.73954266,
       -0.62119911, -0.90448812,  1.83397233, -0.43233977,  0.70081628,
        0.41752727, -2.41536285, -1.9432145 , -0.24348043,  1.17296464,
        0.51195694, -1.56549582,  2.21169101, -0.71562878,  2.21169101,
        0.51195694,  1.928402  , -0.05462108,  1.36182398,  0.03980859,
       -1.65992549,  0.98410529, -6.28697935,  4.57243278,  0.03980859,
       -4.49281561, -1.9432145 ,  0.88967562,  0.03980859,  0.03980859,
        0.03980859,  0.03980859, -0.05462108, -0.24348043,  0.13423826,
        0.22866793,  0.03980859,  0.3230976 ,  0.79524595,  1.36182398,
        0.13423826, -0.3379101 ,  0.13423826,  0.98410529, -0.14905075,
        0.13423826, -1.65992549,  1.26739431,  0.22866793, -2.69865186,
        0.03980859,  0.60638661, -0.43233977,  0.51195694, -0.62119911,
       -3.26522989,  1.17296464, -2.22650351,  0.60638661, -0.05462108,
       -0.81005845,  0.13423826,  0.41752727,  0.3230976 ,  0.41752727,
       -0.3379101 ,  0.41752727,  0.60638661,  0.3230976 ,  0.51195694,
       -0.24348043,  0.98410529,  0.03980859,  0.98410529,  0.60638661,
        0.41752727,  1.45625365, -2.03764417, -0.24348043,  0.13423826,
       -0.24348043, -0.14905075,  0.22866793,  0.22866793,  0.22866793,
        0.88967562,  0.13423826,  0.13423826,  0.03980859, -0.14905075,
       -0.24348043,  0.3230976 ,  0.3230976 ,  0.03980859,  0.22866793,
       -0.43233977,  0.41752727, -0.05462108, -0.81005845, -0.90448812,
       -0.14905075,  0.3230976 ,  0.51195694, -0.99891779, -0.05462108,
       -0.3379101 ,  0.22866793,  0.13423826,  0.03980859,  1.45625365,
       -0.43233977, -0.99891779, -0.3379101 , -0.3379101 , -0.43233977,
       -0.05462108,  0.13423826,  1.07853496,  1.17296464,  0.22866793,
       -0.24348043,  0.51195694,  0.3230976 ,  0.03980859, -0.24348043,
       -0.43233977, -0.52676944, -0.05462108,  0.41752727, -0.14905075,
        0.22866793,  0.60638661, -0.05462108, -0.05462108, -0.3379101 ,
        0.22866793, -0.3379101 ,  0.70081628,  0.51195694,  0.13423826,
       -0.05462108, -0.14905075, -1.18777713,  0.22866793, -0.14905075,
        0.22866793, -0.05462108, -0.24348043, -0.43233977, -0.14905075,
       -0.05462108, -0.14905075, -0.71562878, -0.3379101 ,  0.98410529,
       -0.3379101 ,  0.03980859, -0.05462108,  0.41752727,  0.60638661,
       -0.05462108,  1.26739431,  0.22866793,  0.03980859,  0.13423826,
        0.13423826,  0.3230976 ,  0.03980859,  0.22866793,  0.03980859,
        0.03980859,  0.03980859,  0.51195694,  0.3230976 , -0.3379101 ,
       -0.52676944,  0.22866793, -0.14905075,  0.03980859,  0.3230976 ,
        0.51195694, -0.05462108, -0.14905075,  0.3230976 , -0.62119911,
        0.13423826,  0.13423826,  0.51195694,  0.3230976 , -0.81005845,
       -0.62119911,  0.41752727, -0.43233977,  1.07853496])

In [79]:
from statsmodels.stats import weightstats as stests

In [86]:
ztest ,pval = stests.ztest(Difference)
ztest ,pval

(-0.5671850539106799, 0.5705884614070436)

In [92]:
if pval>0.05:
    print("P-Value = " +str(pval)+ " Hence We fail to reject the null hypotheis that returning blue cars = to taking")
else:
    print(("P-Value = " +str(pval)+ " Hence we reject the null hypothesis that returning blue cars = to taking"))

P-Value = 0.5705884614070436 Hence We fail to reject the null hypotheis that returning blue cars = to taking